[submodule "_build/alexandria"]
	path = _build/alexandria
	url = https://gitlab.common-lisp.net/alexandria/alexandria.git
	shallow = true
[submodule "_build/bordeaux-threads"]
	path = _build/bordeaux-threads
	url = https://github.com/sionescu/bordeaux-threads
	shallow = true
[submodule "_build/serapeum"]
	path = _build/serapeum
	url = https://github.com/ruricolist/serapeum
	shallow = true
[submodule "_build/closer-mop"]
	path = _build/closer-mop
	url = https://github.com/pcostanza/closer-mop
	shallow = true
[submodule "_build/trivia"]
	path = _build/trivia
	url = https://github.com/guicho271828/trivia
	shallow = true
[submodule "_build/split-sequence"]
	path = _build/split-sequence
	url = https://github.com/sharplispers/split-sequence
	shallow = true
[submodule "_build/string-case"]
	path = _build/string-case
	url = https://github.com/pkhuong/string-case
	shallow = true
[submodule "_build/parse-number"]
	path = _build/parse-number
	url = https://github.com/sharplispers/parse-number
	shallow = true
[submodule "_build/trivial-file-size"]
	path = _build/trivial-file-size
	url = https://github.com/ruricolist/trivial-file-size
	shallow = true
[submodule "_build/trivial-macroexpand-all"]
	path = _build/trivial-macroexpand-all
	url = https://github.com/cbaggers/trivial-macroexpand-all
	shallow = true
[submodule "_build/trivial-garbage"]
	path = _build/trivial-garbage
	url = https://github.com/trivial-garbage/trivial-garbage
	shallow = true
[submodule "_build/parse-declarations"]
	path = _build/parse-declarations
	url = https://gitlab.common-lisp.net/parse-declarations/parse-declarations.git
	shallow = true
[submodule "_build/trivial-cltl2"]
	path = _build/trivial-cltl2
	url = https://github.com/Zulu-Inuoe/trivial-cltl2
	shallow = true
[submodule "_build/global-vars"]
	path = _build/global-vars
	url = https://github.com/lmj/global-vars
	shallow = true
[submodule "_build/introspect-environment"]
	path = _build/introspect-environment
	url = https://github.com/Bike/introspect-environment
	shallow = true
[submodule "_build/lisp-unit2"]
	path = _build/lisp-unit2
	url = https://github.com/AccelerationNet/lisp-unit2
	shallow = true
[submodule "_build/lisp-namespace"]
	path = _build/lisp-namespace
	url = https://github.com/guicho271828/lisp-namespace
	shallow = true
[submodule "_build/type-i"]
	path = _build/type-i
	url = https://github.com/guicho271828/type-i
	shallow = true
[submodule "_build/cl-interpol"]
	path = _build/cl-interpol
	url = https://github.com/edicl/cl-interpol
	shallow = true
[submodule "_build/iterate"]
	path = _build/iterate
	url = https://gitlab.common-lisp.net/iterate/iterate.git
	shallow = true
[submodule "_build/named-readtables"]
	path = _build/named-readtables
	url = https://github.com/melisgl/named-readtables
	shallow = true
[submodule "_build/cl-unicode"]
	path = _build/cl-unicode
	url = https://github.com/edicl/cl-unicode
	shallow = true